# .env

# --- Configuration Serveur ---
PORT=3000
NODE_ENV=development

# --- Configuration Base de Données (Détails) ---
# On les garde pour info ou pour les scripts bash (init_db.sh)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=memoria_db_dev
DB_USER=postgres
DB_PASSWORD=               # Ajoute ton mot de passe
DB_APP_USER=app_memoria
DB_APP_PASSWORD=unpandarouxquidort

# --- CONNECTION STRING (Celle utilisée par Node.js) ---
# Syntaxe : postgresql://USER:PASSWORD@HOST:PORT/DB_NAME
DATABASE_URL=postgresql://app_memoria:unpandarouxquidort@localhost:5432/memoria_db_dev
